SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=

YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

MONETBIL_SERVICE_KEY=
MONETBIL_SECRET_KEY=
MONETBIL_NOTIFY_URL=

GOOGLE_APPS_SCRIPT_URL=
GOOGLE_APPS_SCRIPT_DEPLOYMENT_ID=
